.contact-section {
	background-color: var(--primary);
	color: white;
	height: 90.5vh;
}

#contact-form {
	margin: 0px auto;
	width: 60%;
}

.contact-form-item {
	margin-top: 20px !important;
}

.contact-form-input {
	width: 30%;
}

#btn:link,
#btn:visited {
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
	background-color: white;
	border: 1px solid white;
	color: var(--primary);
	margin-right: 15px;
	width: 12%;
}

#btn:hover {
	background-color: var(--primary);
	border: 1px solid white;
	color: white;
}
